<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expenx.expenx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ExpenxActivity" android:theme="@style/BaseAppTheme" android:label="ExpenX" android:screenOrientation="portrait"/>

        <activity android:name=".activity.RegisterActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Register" android:screenOrientation="portrait" />
        <activity android:name=".activity.IncomeActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Income" android:screenOrientation="portrait" />
        <activity android:name=".activity.ExpenseActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Expense" android:screenOrientation="portrait" />
        <activity android:name=".activity.DebtActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Debt" android:screenOrientation="portrait" />
        <activity android:name=".activity.ChartViewActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Chart View" android:screenOrientation="portrait" />
        <activity android:name=".activity.CalendarViewActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Calendar View" android:screenOrientation="portrait" />
        <activity android:name=".activity.NotesActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Notes" android:screenOrientation="portrait" />
        <activity android:name=".activity.ForecastActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Forecast" android:screenOrientation="portrait" />
        <activity android:name=".activity.LoanCalculatorActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Loan Calculator" android:screenOrientation="portrait" />
        <activity android:name=".activity.CurrencyConverterActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Currency Converter" android:screenOrientation="portrait" />
        <activity android:name=".activity.ReminderActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Reminder" android:screenOrientation="portrait" />
        <activity android:name=".activity.SettingsActivity" android:theme="@style/BaseAppThemeSecondary" android:label="Settings" android:screenOrientation="portrait" />
        <activity android:name=".activity.AboutActivity" android:theme="@style/BaseAppThemeSecondary" android:label="About" android:screenOrientation="portrait" />
    </application>

</manifest>